body {  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
    /* width: 1440px; */
    background-color: rgb(39, 39, 39);
    overflow-x: hidden;
 }

 .procr {
      position: sticky;
    top: 15px;
    margin-left: 48% ;
    margin-top: -10%;
    z-index: 0;
 }
.procr2 {
        position: sticky;
    top: 120px;
    margin-left: 48% ;
    margin-top: 9px;
    z-index: 0;
}

.cverhu_class{
     display: flex;
     justify-content: center;
     margin-top: 50px;
}

 .zagalovok {
   position: relative;
   z-index: -1;
    margin-top: 250px;
display: flex;
justify-content: center;
align-items: center;      
  font-family: "Unbounded-regular";
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  background-color: rgb(39, 39, 39);
 }
 
 .zigilovok {
    display: flex;
justify-content: center;
align-items: center;      
    color: #ffffff;
 }
.two_v {
  margin-top: -58%;
}
 .vectorr {
    position: relative;
    z-index: -1;
    width: 105%;
 }

 .vectorr2 {
position: relative;
z-index: 1;
    width: 18%;
    margin-top: -350px;
 }

.street {
     position: relative;
    z-index: 2;
    margin-left: 7%;
    margin-top: 400px;
    width: 53%;
}

.p1{
    width: 110%;
    margin-top: -375px;
}
.p2 {
margin-top: 25px;
}

.text_one {
margin-left: 65%;
/* margin-top: -455px; */
   color: #ffffff;
font-size: 24px;
width: 30%;
font-family: "Inter-Regular";
}

.text_two {
      /* position: relative;
    z-index: 2; */
    margin-top: 450px;
     /* display: flex;
    justify-content: space-between; */
    width: 100%;
}
.v1 {
width: 1440px;
position: relative;
z-index: 1;
background-color: rgb(39, 39, 39);

}

.h4 {
    font-size: 56px;
    font-family: "Unbounded-regular";
    color: #ffffff;
    text-align: center;
    margin-left: 5%;
}
.h5 {
      font-size: 56px;
    font-family: "Unbounded-regular";
    color: #39B81A;
    margin-left: 70%;
}



.h1 {
    font-size: 30px;
    font-family: "Inter";
    color: #39B81A;
}

.p3 {
    font-size: 22px;
    font-family: "Inter";
    color: #ffffff;
}

.text3 {
text-align: center;
line-height: normal;
margin-top: -25%;
}


.h2 {
    font-size: 30px;
    font-family: "Inter";
    color: #39B81A;
}
.p4 {
 font-size: 22px;
    font-family: "Inter";
    color: #ffffff;
}

.text4 {
    text-align: center;
    margin-top: -25%;
    line-height: normal;
}

.v3 {
margin-left: 37%;
    font-family: "Inter";
    font-size: 30px;

}

.v2 {
    width: 1440px;
    position: relative;
    color: #ffffff;
    margin-top: 400px;
    z-index: 1;
    background-color: rgb(39, 39, 39);
    margin-left: 8%;
    display: grid;
    justify-content: center;
}

h3 {
    font-family: "Unbounded-regular";
    color: #39B81A;
    font-size: 43px;
    margin-top: 20px;
    text-align: center;
    width: 85%;
}

h6 {
    font-size: 30px;
    font-family: "Inter";
    color: #39B81A;
}

.p5 {
    font-size: 22px;
    font-family: "Inter";
    color: #ffffff;
}

.text5 {
    margin-top: -100px;
    text-align: center;
    line-height: normal;
}


h7 {
    font-size: 30px;
    font-family: "Inter";
    color: #39B81A;
}
.p6 {
    font-size: 22px;
    font-family: "Inter";
    color: #ffffff;
}

.text6 {
    margin-top: -100px;
    text-align: center;
    line-height: normal;
}

.v4 {
    text-align: center;
    margin-top: 35%;
    width: 1440px;
    position: relative;
    z-index: 1;
    background-color: rgb(39, 39, 39);
}

h8 {
    font-size: 56px;
    font-family: "Unbounded-regular";
    color: white;
}
.ot_spori{
    color: #ffffff;
    font-size: 20px;
    margin-top: 15px;
    font-family: "Inter";
} 

.square1{
    margin-left: 12%;
    position: relative;
    width: 447px;
    height: 269px;
    background-color: rgba(79, 79, 79, 0.75);
}
.square2{
    margin-left: -10%;
    position: relative;
    width: 447px;
    height: 269px;
    background-color: rgba(79, 79, 79, 0.75);
}
.square3{
    position: relative;
    width: 610px;
    height: 269px;
    background-color: rgba(79, 79, 79, 0.75);
}
.square4{
    position: relative;
    width: 610px;
    height: 269px;
    background-color: rgba(79, 79, 79, 0.75);
}
.square5{
    position: relative;
    width: 1240px;
    height: 269px;
    background-color: rgba(79, 79, 79, 0.75);
}
.z1{
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10%;
}
.z2{
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 30%;
}

.IZV {
    position: absolute;
    z-index: -1;
margin-left: -70%;
}

.a2 {
    display: flex;
    justify-content: space-between;
}
.a3 {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}
.a4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0%;
}
